.App {
  text-align: center;
}

.main {
	padding-top: 50px;
}

table {
	border: solid 1px blue;
	width: 100em;
	margin: 30px auto 0 auto;
}

.table-header > th {
	border-bottom: solid 2px grey;
	background: #2b5bb5;
	color: white;
	font-weight: bold;
}

.table-header > th:not(:last-child) {
	cursor: pointer;
}

.table-row > td {
	padding: 10px;
	border: solid 1px gray;
}

.sparkline {
	width: 300px;
}

.spinner {
	margin: 30px;
}

.favourites {
	margin: 50px;
	font-size: larger;
}